<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Amigo</title>
    <link rel="stylesheet" href="/SGAS/src/main/resources/static/css/modelo.css">
    <link rel="shortcut icon" href="images/iconesite.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
</head>

<body>
    <header id="header-login">
        <div class="logo">
            <img src="/SGAS/src/main/resources/static/images/patas.png" alt="Logo de pata Pet Amigo">
            <h1>Pet Amigo</h1>
        </div>
        <a href="login.html"><button class="log">Faça Login</button></a>
    </header>

    <header id="header-1">
        <nav>
            <a href="#">Home</a>
            <div class="dropdown">
                <a href>Gestão de doações</a>
                <div class="dropdown-content">
                    <a href="quero-adotar.html">Cadastrar doação</a>
                    <a href="#">Ver doações</a>
                </div>
            </div>

            <div class="dropdown">
                <a href="#">Animais para adoção</a>
                <div class="dropdown-content">
                    <a href="cadastrar-animal.html">Cadastrar animal</a>
                </div>
            </div>

            <div class="dropdown">
                <a href="#">Voluntários</a>
                <div class="dropdown-content">
                    <a href="#">Ver voluntário</a>
                    <a href="#">Adicionar tarefa</a>
                    <a href="#">Candidatos</a>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <header class="form-header">
            <h1>Cadastro de animais</h1>
        </header>

        <div class="filtro form-container">
            <form action="/admin/cadastrar-animal" method="post" enctype="multipart/form-data" class="styled-form">
                <div class="form-card">
                    <div class="form-row">
                        <label for="nome">Nome:</label>
                        <input type="text" id="nome" name="nome" required>
                    </div>

                    <div class="form-row">
                        <label for="raca">Raça:</label>
                        <input type="text" id="raca" name="raca" required>
                    </div>

                    <div class="form-row">
                        <label for="cor">Cor:</label>
                        <input type="text" id="cor" name="cor" required>
                    </div>

                    <div class="form-row">
                        <label for="porte">Porte:</label>
                        <select id="porte" name="porte" required>
                            <option value="pequeno">Pequeno</option>
                            <option value="medio">Médio</option>
                            <option value="grande">Grande</option>
                        </select>
                    </div>

                    <div class="form-row">
                        <label for="genero">Sexo:</label>
                        <select id="genero" name="genero" required>
                            <option value="femea">Fêmea</option>
                            <option value="macho">Macho</option>
                        </select>
                    </div>

                    <div class="form-row form-image-upload">
                        <div class="image-placeholder"></div>
                        <label for="imagem" class="image-upload-label">anexar imagem do animal</label>
                        <input type="file" id="imagem" name="imagem" accept="image/*" required style="display: none;">
                    </div>
                </div>

                <input type="submit" value="Enviar" class="submit-btn">
            </form>
        </div>
    </main>

    <footer>
        <div class="sobre">
            <img src="/SGAS/src/main/resources/static/images/pata.png" alt="Ícone de pata">
            <p>Lorem Ipsum is simply dummy text.</p>
        </div>
        <div class="qrcode">
            <img src="/SGAS/src/main/resources/static/images/qrsgas.png" alt="QR Code para doação" id="qr-code">
            <button>SitePetAmigo.br</button>
        </div>
        <div class="contato">
            <h3>Contato</h3>
            <p><img src="/SGAS/src/main/resources/static/images/icone-wpp.webp" alt="Whatsapp"> (31) 98528-6875</p>
            <p><img src="/SGAS/src/main/resources/static/images/paw-print.png" alt="Email"> cachorros123@gmail.com</p>
        </div>
        <div class="coracao">
            <img src="/SGAS/src/main/resources/static/images/transferir.webp" alt="Coração com pata">
        </div>
    </footer>
</body>
</html>