<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doação</title>
    <link rel="stylesheet" href="css/doacao.css">
    <link rel="shortcut icon" href="images/iconesite.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
</head>

<body>
    <header id="header-login">
        <div class="logo">
			<a href="/">
            <img src="images/patas.png" alt="Logo de pata Pet Amigo">
			</a>
            <h1>Pet Amigo</h1>
        </div>
		<ul sec:authorize="isAuthenticated()" >
			    <button class="log" th:text="${principal.nome}"></button>
				<a href="/administrador"  th:if="${principal != null && principal.isAdministrador}">
				<button class="log">Área do Administrador</button>
				</a>
				
				<a href="/usuario"  th:if="${principal != null && principal.isAdministrador == false}">
								<button class="log">Área do Usuário</button>
								</a>
		    </ul>
			        
			<div  sec:authorize="isAuthenticated() == false" >
			   <a href="/login"><button class="log">Faça Login</button></a>
			</div>    
    </header>


    <header id="header-1">
        <nav>
            <a href="index.html">Home</a>
            <div class="dropdown">
                <a href="quero-adotar.html">Quero adotar</a>
				<div class="dropdown-content" sec:authorize="isAuthenticated()" >
				        <a href="/queroadotar">Adote</a>
				        <a href="/usuario/favoritos">Animais curtidos</a>
				      </div>
					  <div class="dropdown-content" sec:authorize="isAnonymous()" >
					          <a href="/queroadotar">Adote</a>
					          <a href="/login">Animais curtidos</a>
					        </div>
            </div>

            <div class="dropdown">
                <a href="#">Forma de ajudar</a>
                <div class="dropdown-content">
                    <a href="/doacao"> Faça uma Doação</a>
                    <a href="/querovoluntariar">Seja voluntário</a>
                </div>

            </div>
            <a href="#">Fale conosco</a>
        </nav>
    </header>

    <main>

        <body>
            <section id="adote">
                <div>
                    <h2>Faça uma doação!</h2>
                    <h3>Sua ajuda muda a vida dos animais de rua.</h3>
                </div>
            </section>

            <section>
                <div class="pix-doe">
                    <h2>Para doar qualquer valor:</h2>
                    <img src="images/qrsgas.png" alt="" id="doacao-qr">
                </div>
            </section>
        </body>
    </main>

    <footer>
        <div class="sobre">
            <img src="images/pata.png" alt="Ícone de pata">
            <p>Lorem Ipsum is simply dummy text.</p>
        </div>
        <div class="qrcode">
            <img src="images/qrsgas.png" alt="QR Code para doação" id="qr-code">
            <button>SitePetAmigo.br</button>
        </div>
        <div class="contato">
            <h3>Contato</h3>
            <p><img src="images/icone-wpp.webp" alt="Whatsapp"> (31) 98528-6875</p>
            <p><img src="images/paw-print.png" alt="Email"> cachorros123@gmail.com</p>
        </div>
        <div class="coracao">
            <img src="images/transferir.webp" alt="Coração com pata">
        </div>
    </footer>